/YourTrainer/bin/Antlr3.Runtime.dll
/YourTrainer/bin/Antlr3.Runtime.pdb
/YourTrainer/bin/Microsoft.Web.Infrastructure.dll
/YourTrainer/bin/System.Web.Helpers.dll
/YourTrainer/bin/System.Web.Helpers.xml
/YourTrainer/bin/System.Web.Mvc.dll
/YourTrainer/bin/System.Web.Mvc.xml
/YourTrainer/bin/System.Web.Optimization.dll
/YourTrainer/bin/System.Web.Optimization.xml
/YourTrainer/bin/System.Web.Razor.dll
/YourTrainer/bin/System.Web.Razor.xml
/YourTrainer/bin/System.Web.WebPages.Deployment.dll
/YourTrainer/bin/System.Web.WebPages.Deployment.xml
/YourTrainer/bin/System.Web.WebPages.Razor.dll
/YourTrainer/bin/System.Web.WebPages.Razor.xml
/YourTrainer/bin/System.Web.WebPages.dll
/YourTrainer/bin/System.Web.WebPages.xml
/YourTrainer/bin/WebGrease.dll
/YourTrainer/bin/YourTrainer.dll
/YourTrainer/bin/YourTrainer.dll.config
/YourTrainer/bin/YourTrainer.pdb
/.vs/YourTrainer/v14/.suo
/.vs/config/applicationhost.config
/YourTrainer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/YourTrainer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/YourTrainer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/YourTrainer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/YourTrainer/obj/Debug/YourTrainer.csproj.FileListAbsolute.txt
/YourTrainer/obj/Debug/YourTrainer.csprojResolveAssemblyReference.cache
/YourTrainer/obj/Debug/YourTrainer.dll
/YourTrainer/obj/Debug/YourTrainer.pdb
/packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.dll
/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.uninstall.xdt
/packages/Microsoft.AspNet.Mvc.5.2.3/Microsoft.AspNet.Mvc.5.2.3.nupkg
/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.dll
/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.xml
/packages/Microsoft.AspNet.Razor.3.2.3/Microsoft.AspNet.Razor.3.2.3.nupkg
/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.dll
/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/System.Web.Optimization.dll
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
/packages/Microsoft.AspNet.WebPages.3.2.3/Microsoft.AspNet.WebPages.3.2.3.nupkg
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.dll
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.dll
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.dll
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.dll
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.js
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.min.js
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Microsoft.jQuery.Unobtrusive.Validation.3.2.3.nupkg
/packages/Respond.1.2.0/Respond.1.2.0.nupkg
/packages/Respond.1.2.0/content/Scripts/respond.js
/packages/Respond.1.2.0/content/Scripts/respond.min.js
/packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
/packages/WebGrease.1.5.2/lib/WebGrease.dll
/packages/WebGrease.1.5.2/tools/WG.exe
/packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
/packages/bootstrap.3.0.0/content/Content/bootstrap.css
/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
/packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
/packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
/packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
